.banner-container {
    margin: 50px 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: auto;
    border-radius: 25px;
}
.banner-txt {
    position: absolute;
    align-self: center;
    z-index: 1;
    font-size: 36px;
    font-weight: 500;
    padding: 20px;
    letter-spacing: 0em;
    color: white;
}
.banner-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(70%);
}
@media screen and (max-width: 800px) {
    .banner-container {
        margin: 40px 80px;
        height: 200px;
    }
    .banner-txt {
        position: absolute;
        align-self: center;
        z-index: 1;
        font-size: 32px;
    }
  }
  @media screen and (max-width: 700px) {
    .banner-container {
        margin: 30px 60px;
        height: 180px;
    }
    .banner-txt {
        font-size: 28px;
    }
  }
  @media screen and (max-width: 600px) {
    .banner-container {
        margin: 20px 40px;
        height: 158px;
    }
    .banner-txt {
        font-size: 26px;
    }
  }
  @media screen and (max-width: 500px) {
    .banner-container {
        margin: 15px 30px;
        height: 135px;
    }
    .banner-txt {
        font-size: 22px;
    }
  }
  @media screen and (max-width: 450px) {
    .banner-container {
        margin: 10px 20px;
        height: 111px;
    }
    .banner-txt {
        font-size: 16px;
    }
  }