

.banner-container {
    margin: 50px 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: auto;
    border-radius: 25px;
    


}
.banner-txt {
    position: absolute;
    align-self: center;
    z-index: 1;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    color: white;
}

.banner-img {

   
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(70%);

}
