.accomodation-container {
    font-weight: 500;
    color: #FF6060;
    margin: 0px 100px 50px 100px;
}

.accomodations-list {
    list-style-type: none;
}

.accomodation {
    display: flex;
    flex-direction: column;
}

.accomodation-cover {
    border-radius: 25px;
    width: auto;
    height: 415px;
    object-fit: cover;
}
.accomodations-header {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.accomodations-header.left {
    display: flex;
    flex-direction: column; 
}
.accomodations-header.right {
    display: flex;
    flex-direction: column;
}
.accomodation-title {
    font-size: 36px;
}
.accomodation-location {
    font-size: 18px;
    padding: 10px 0px 20px 0px;
}
.accomodation-tags {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: row;
}
.accomodation-tag {
    margin: 0px;
    height: 20px;
    width: auto;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    padding: 3px 30px;
    margin-right: 10px;
}
.accomodation-host {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

}
.accomodation-host-picture {
    width: 64px;
    height: 64px;
    border-radius: 30px;
}
.accomodation-host-name {
    text-align: right;
    width: 50%;
    padding-right: 10px;
}

.rating {
    display: flex;
    font-size: 34px;
    letter-spacing: 3px;
}
.fullStar {
    color:#FF6060;
}
.emptyStar {
    color: #E3E3E3;
}
.accomodations-toggles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.accomodation-description, .accomodation-equipments {
    width: 45%;  
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    padding-left: 3%;
    font-size: 18px;
    color: #FFFFFF;
    width: 100%;
    height: 52px;
    border:none
}
.fa-solid {
    padding-right: 3%;
}
.equipements {
    padding: 0px 20px;
    margin: 0px;
    
}
.content {
    padding: 30px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 30px 20px;
    color: #FF6060;
}

@media screen and (max-width: 680px) {
    .accomodations-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
    }

    .accomodations-header.right {
        flex-direction: row-reverse;
    }

    .accomodations-toggles {
        flex-direction: column;
    }

    .accomodation-description, .accomodation-equipments {
        width: 100%;
    }
}