.about-article {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.abouts-list {
list-style: none;
}
.abouts-container {
    width: 100%;
    padding-bottom: 100px;
}
.about-element {
    padding: 15px 5%;
}
.about-btn {
    display: flex;
    align-items: center;
    background: #344563;
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
    border:none
}
.fa-solid {
    padding-right: 10px;
}
.about {
    padding: 5px 20px;
    margin: 0px; 
}
.about a{
    text-decoration: none;
}
.about a:hover{
    text-decoration: underline;
    font-size: 22px;
}
.about a:visited{
    color: #807e7e;
}
.about-text {
    background: #0e2c6313;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 20px;
    color: #807e7e;
}
.project {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #344563;
    margin: 0px 100px 50px 100px;
}

.projects-list {
    list-style-type: none;
}

.projects-header {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.projects-header.left {
    display: flex;
    flex-direction: column; 
}
.projects-header.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-title {
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 10px;
}
.project-date{
    font-size: 18px;
    padding: 0px,
}
.project-intro, .project-context {
    font-size: 18px;
    padding: 10px 0px 20px 0px;
}
.project-stacks {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.project-stack {
    margin: 0px;
    height: 20px;
    width: auto;
    background: #344563;
    border-radius: 10px;
    color: white;
    padding: 3px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.projects-toggles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.project-description {
    width: 100%;
    padding: 30px 0px;
}
.projects-description.btn{
    padding: 2% 1.5%; 
}
.project-skills, .project-ressources{
    width: 45%;  
    margin-block-end: 20px;
}
.btn {
    display: flex;
    align-items: center;
    background: #344563;
    border-radius: 10px;
    height: 50px;
    padding: 3%;
    font-size: 22px;
    color: #FFFFFF;
    width: 100%;
    border:none;
}
.fa-solid {
    padding-right: 10px;
}
.skill, .ressources, .description{
    padding: 10px 20px;
    margin: 0px; 
}
.content {
    padding: 30px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    background: #0e2c6313;
    border-radius: 5px;
    padding: 30px 20px;
    color: #807e7e;
}
.fa-brands {
    font-size: 50px;
    color: #344563;
}
.github {
    align-self: flex-end;
    padding-right: 5%;
}
@media screen and (max-width: 1200px) {
    .project {
        margin: 0px 75px 50px 75px;
    }
}
@media screen and (max-width: 1050px) {
    .project {
        margin: 0px 50px 50px 50px;
    }
}

@media screen and (max-width: 900px) {
    .about-article {
        margin: 0px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .about-element {
        padding: 14px 4%;
    }
    .about-btn, .btn {
        font-size: 20px;
    }
    .about-text, .content {
        font-size: 18px;
    }
    .about a:hover{
        font-size: 20px;
    }
    .project {
        margin: 0px 0px 50px 0px;
    }
    .project-container {
        margin: 0px 80px;
    }
    .projects-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
    }
    .project-title {
        font-size: 32px;
        padding-top: 50px;
    }  
    .projects-header.right {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .projects-toggles {
        flex-direction: column;
        width: 100%;
    }
    .projects-description.btn{
        padding: 3%; 
    }
    .project-description {
        padding: 20px 0px;
    }
    .project-skills, .project-ressources {
        width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    .about-article {
        margin: 0px 60px;    
    }
    .about-element {
        padding: 13px 3%;
    }
    .about-btn, .btn {
        font-size: 16px;
    }
    .about-text, .content{
        font-size: 15px;
    }
    .about a:hover{
        font-size: 18px;
    }
    .project-container {
        margin: 0px 60px;
    }
    .project-title {
        font-size: 28px;
        padding-top: 40px;
    }
  }
  @media screen and (max-width: 600px) {
    .about-article {
        margin: 0px 40px;   
    }
    .about-element {
        padding: 12px 2%;
    }
    .about-btn, .btn {
        font-size: 15px;
    }
    .about-text, .content {
        font-size: 14px;
    }
    .about a:hover{
        font-size: 16px;
    }
    .project-container {
        margin: 0px 40px;
    }
    .project-title {
        font-size: 24px;
        padding-top: 30px;
    }
    .project-date, .project-intro, .project-context {
        font-size: 16px;
    }
    .project-stack p {
        font-size: 12px;
    }
  }
  @media screen and (max-width: 500px) {
    .about-article {
        margin: 0px 30px; 
    }
    .about-element {
        padding: 11px 1%;
    }
    .about-btn, .btn {
        font-size: 13px;
    }
    .about-text, .content {
        font-size: 12px;
    }
    .about a:hover{
        font-size: 14px;
    }
    .project-container {
        margin: 0px 30px;
    }
    .project-title {
        font-size: 22px;
        padding-top: 30px;
    }
    .project-stacks {
        font-size: 10px;
        margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 450px) {
    .about-article {
        margin: 0px 20px; 
    }
    .about-element {
        padding: 10px 0%;
    }
    .about-btn, .btn {
        font-size: 11px;
    }
    .about-text, .content {
        font-size: 10px;
    }
    .about a:hover{
        font-size: 12px;
    }
    .project-container {
        margin: 0px 20px;
    }
    .project-title {
        font-size: 18px;
        padding-top: 25px;
    }
    .project-date, .project-intro, .project-context{
        font-size: 14px;
    }
    .project-stack p {
        font-size: 10px;
    }
  }

