.about-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.abouts {
    margin: 0px 100px 200px 100px;
    width: 80%;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;

}

.about-title {
    background: #FF6060;
    border-radius: 5px;
    padding-left: 3%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #FFFFFF;
    width: 97%;
}

.about-text {
    background: #F7F7F7;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 24px;
    line-height: 34px;
    color: #FF6060;
    
}