.contact {
    display: flex;
    flex-direction: column;
    color: #0e2c63;
    justify-content: center;
    margin: 10px;
    padding: 15px 5%;
    font-size: 20px;
}
.contact-title {
    font-size: 36px;
    color: #0e2c63;
    padding: 20px 0px 50px 0px;
    align-self: center;
}
.contact a {
    text-decoration: none;
}
.contact a:hover {
text-decoration: underline;
}
.contact a:visited {
    color: #0e2c63;
}
.goodbye {
    align-self: center;
    font-size: 24px;
    padding: 50px 0px;
}
@media screen and (max-width: 800px) {
    .contact-title {
        font-size: 20px;
        padding-bottom: 25px;
    }
    .contact p {
        line-height: 20px;
        font-size: 14px;
    }
    .contact a:hover {
        font-size: 16px;
    }
  }
@media screen and (max-width: 500px) {
    .contact-title {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .contact p {
        line-height: 18px;
        font-size: 12px;
    }
    .contact a:hover {
        font-size: 14px;
    }
  }