.containerStyles {
  width: auto;
  height: 415px;
  margin: 0px 100px;
}
.slider{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.fa-angle-right{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
  }
  
.fa-angle-left{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
  }
.sliderStyles{
    position: relative;
    height: 100%;
  } 
.slideCount{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 45px;
    font-size: 18px;
    z-index: 1;
    color: white;
  }
  @media screen and (max-width: 800px) {
    .containerStyles {
      height: 385px;
      margin: 0px 80px;
    }
  }
  @media screen and (max-width: 700px) {
    .containerStyles {
      height: 350px;
      margin: 0px 60px;
    }
  }
  @media screen and (max-width: 600px) {
    .containerStyles {
      height: 315px;
      margin: 0px 40px;
    }
  }
  @media screen and (max-width: 500px) {
    .containerStyles {
      height: 290px;
      margin: 0px 30px;
    }
  }
  @media screen and (max-width: 450px) {
    .containerStyles {
      height: 255px;
      margin: 0px 20px;
    }
  }
