* {
  font-family: 'Montserrat';
}
#error-page {
  color: #0e2c63;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
}
.err-img {
  height: 500px;
  width: auto;
}
.error-link {
  padding: 80px 0px;
}
.error-link a {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #0e2c63;
}
@media screen and (max-width: 800px) {
    .err-img {
      height: 450px;
    }
    #error-page {
      font-size: 26px;
    }
}
@media screen and (max-width: 700px) {
    .err-img {
      height: 400px;
    }
    #error-page {
      font-size: 22px;
    }
    .error-link a {
      font-size: 14px;
      padding: 60px 0px;
    }
}
@media screen and (max-width: 600px) {
    .err-img {
    height: 350px;
    }
    #error-page {
      font-size: 18px;
    }
}
@media screen and (max-width: 450px) {
    .err-img {
    height: 300px;
    }
    #error-page {
      font-size: 14px;
    }
  .error-link a {
    font-size: 10px;
    padding: 40px 0px;
  }
}


