* {
  font-family: 'Montserrat';
}
#error-page {
  color: #FF6060;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
}

.error-number {
font-size: 288px;
font-weight: 700;
line-height: 411px;
}
.error-link {
  padding: 150px 0px;
}
.error-link a {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #FF6060;
}
@media screen and (max-width: 800px) {
  .error-number {
    font-size: 245px;
    }
    #error-page {
      font-size: 30px;
    }
}
@media screen and (max-width: 700px) {
  .error-number {
    font-size: 210px;
    }
    #error-page {
      font-size: 24px;
    }
    .error-link a {
      font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
  .error-number {
    font-size: 180px;
    }
    #error-page {
      font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
  .error-number {
    font-size: 150px;
    }
    #error-page {
      font-size: 16px;
    }
}
@media screen and (max-width: 450px) {
  .error-number {
    font-size: 136.9px;
    }
    #error-page {
      font-size: 14px;
    }
  .error-link a {
    font-size: 14px;
  }
}


